version: '3.8'
services:
  database:
    image: mysql:8.0
    container_name: lesrestes-db
    restart: always
    environment:
      MYSQL_DATABASE: lesrestes
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: