:root {
    --primary-color: #28a745;
    --secondary-color: #6c757d;
}

.navbar-brand {
    font-weight: bold;
    color: var(--primary-color) !important;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
/*
body {
    background-color: skyblue;
}*/
