<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Les Restes{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/css/app.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <!-- Navigation -->
        {% include 'partials/_navbar.html.twig' %}

        <!-- Messages Flash -->
        {% include 'partials/_flash_messages.html.twig' %}

        <!-- Contenu -->
        {% block body %}{% endblock %}

        {% include 'partials/_footer.html.twig' %}

        <!-- MODALE CONNEXION - INSCRIPTION -->
        {% include 'partials/_modals_auth.html.twig' %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/js/auth-modals.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>